<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="${loginMember.name} + '님 안녕하세요'">사용자 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>캐릭터</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="character : ${loginMember.characters}">
                <td><a th:href="@{/odin/character/{characterId}(characterId=${character.id})}" th:text="${character.name}" 캐릭터 명</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/odin/character}'|">
            캐릭터 추가</button>
    </div>

</div> <!-- /container -->

</body>
</html>